@using LoginReg.Models
@model User

@{
    ViewData["Title"] = "SUCCESS";
}

<div class="text-right">
    <a href="/logout">Logout</a>
</div>

<div class="text-center">
    <h1 style="color:green;">You Are Now Logged In As @Model.FirstName</h1>
    
</div>


